doctype html
html
  head
    title handsfree
    link(rel='stylesheet', href='app.css')
    script(src='app.js', defer)
  body
    nav
      button.previous Previous
      button.next Next
      button.start Start Voice Control
      button.stop Stop Voice Control
    section
      h1
        | Handsfree Navigation
        p.subtitle for Web Apps
    p
      | Try it out, say "hello".
      button.test Hello
    p
      | Or go check out my blog by saying "ninja".
      a(href='https://ninja.sg') Ninja
